* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: rgb(60, 60, 60);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    color:aliceblue;
}

.whatsapp {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}



.instagram {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
}
